body{
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}
.fondo-img{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.13;
}